alembic==1.15.2
fastapi==0.115.12
fastjsonschema==2.21.1
google-ai-generativelanguage==0.6.17
huggingface-hub==0.30.2
langchain==0.3.23
langchain-community==0.3.21
langchain-core==0.3.51
langchain-google-genai==2.1.2
langchain-huggingface==0.1.2
langchain-ollama==0.3.1
langchain-text-splitters==0.3.8
pydantic==2.11.3
pydantic-settings==2.8.1
pydantic_core==2.33.1
PyMuPDF==1.25.5
pymupdf4llm==0.0.21
SQLAlchemy==2.0.40
psycopg-binary==3.2.6
uvicorn==0.34.0
ipython==8.12.3
ollama==0.4.7
psycopg2==2.9.10
python-multipart==0.0.20